/* src/styles/toastify.css */
.Toastify__toast--success {
    background-color: black !important;
    color: white !important;
}

.Toastify__toast--error {
    background-color: black !important;
    color: white !important;
}

.Toastify__toast-body {
    color: white !important;
}

.Toastify__close-button {
    color: white !important;
}
